.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
body{
    background: rgb(169, 12, 12);
    background-image: url("./images/books.jpg");
    background-size: cover;
}

#google-c{
    
    color:#4285F4;
    
    
}

#google-s{
    color:#DB4437;
}

#google-4{
    color:	#F4B400;
    color:black
}

#google-3{
    color:	#4285F4;
}

#google-0-1{
    color:	#0F9D58;
}

#google-0-2{
    color:#DB4437;
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Playfair Display';
    font-weight: 300;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin: 10px;
    padding:12px;
    width: 300px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    font-size: 16px;
    border: none;
    outline: 0;
    color: white;
    
}

#answer-box{
    width: 700px;
    margin-top:50px; 
    background: whitesmoke;
}

#searchboxes{
    display:flex;
    flex-direction: row;
    align-content: space-between;

}


#filter-text-val{
    background: none;
    color : black;
}

::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}