/* Animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("./images/books.jpg");
    background-size: cover;
    height: 100vh;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    padding-left: 5px;
    margin-bottom: 0;
}

/* Info Boxes */
.tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
}

.tip .tiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    width: 200px;
    bottom: 110%;
    left: 50%;
    margin-left: -100px;
}

.tip:hover .tiptext {
    visibility: visible;
}

.tipfilter {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tipfilter .tiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    width: 200px;
    bottom: 110%;
    left: 50%;
    margin-left: -100px;
}

.tipfilter:hover .tiptext {
    visibility: visible;
}

#imagearrow {
    position: absolute;
    bottom: 0px;
}

#google-c {

    color: #4285F4;


}

#google-s {
    color: #DB4437;
}

#google-4 {
    color: #F4B400;
    color: black;
    margin-top: 5px;
}

#google-3 {
    color: #4285F4;
}

#google-0-1 {
    color: #0F9D58;
}

#google-0-2 {
    color: #DB4437;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: Lora;
    font-weight: 300;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

/* Utility classes */

.hidden {
    display: none !important;
    visibility: hidden;
}

.row {
    display: flex;
    flex-direction: column;
}

.col-layout {
    display: flex;
    flex-direction: row;
}

.flex-child {
    flex: 1;
}

/* General */

.description-container {
    max-width: 1200px;
    padding: .8%;
    border-radius: 3px;
}

.description {
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.input-box {
    background: transparent;
    border: none;

    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 12px;
    width: 300px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    background: transparent;
    border: none;

    width: 100%;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
    margin: 0 auto;
}

#searchboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#or-block {
    text-align: center;
    justify-content: center;
    margin: auto 0;
}

.filter-container {
    margin-left: 5%;
    text-align: center;
}

#filter-title-val,
#filter-book-val,
#filter-review-val,
#filter-review-val2 {
    background: none;
    color: black;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

.output-result {
    background-color: #f1eee8;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px #bbbcbc;
}

.book-title {
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.book-author,
.book-ratings,
.book-genres,
.book-ban-info {
    text-align: center;
}

.book-desc {
    font-family: 'Montserrat', sans-serif;
}

/* Back to top button styling */
#back-to-top-btn {
    display: block;
    position: fixed;
    right: 8rem;
    bottom: 5rem;
    z-index: 99;
    cursor: pointer;
    font-size: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px; */
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #6d9ce7;
    box-shadow: 0px 5px 5px #bbbcbc;
    height: 50px;
    width: 50px;
}


/* Toggle and Based on Styling */

.based-on-container {
    text-align: center;
    margin-right: 10%;
}

.theme-toggle {
    border: 2px solid black;
}

.theme-toggle:hover {
    border: 2px dotted #3d3b3b;

    transition-duration: 0s;
}

.theme-toggle .toggle {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

#toggle-checkbox {
    /* hides checkbox */
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-field {
    padding: 8px 16px;

    background-color: transparent;

    text-align: center;

    transition: background-image 0.5s
}

.on {
    border-bottom: 1px solid black;
}

#toggle-checkbox:checked~.toggle>.on {
    background-color: black;
    color: white;
}

#toggle-checkbox:not(:checked)~.toggle>.off {
    background-color: black;
    color: white;
}

/* Loader:  https://cssloaders.github.io/ */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #89CFF0;
    border-radius: 50%;
    display: inline-block;
    animation: spin 1s linear infinite;

    margin-top: 15%;
    margin-left: 48%;
    /* margin-right: 50%; */
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}