
* {
    box-sizing: border-box;
}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#se {
    width: 100%;
    min-height: 100%;
    max-height: 100%;

    background-image: url("./images/books.jpg");
    background-size: cover;

}


#imagearrow {
    position: absolute;
    bottom: 0px;
}

#google-c {

    color: #4285F4;


}

#google-s {
    color: #DB4437;
}

#google-4 {
    color: #F4B400;
    color: black
}

#google-3 {
    color: #4285F4;
}

#google-0-1 {
    color: #0F9D58;
}

#google-0-2 {
    color: #DB4437;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: Lora;
    font-weight: 300;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

/* Utility classes */

.hidden {
    display: none !important;
}

/* General */

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 12px;
    width: 300px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: 0;
    color: white;

}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

#searchboxes {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#or-block {
    text-align: center;
    justify-content: center;
    margin: auto 0;
}


#filter-title-val,
#filter-book-val,
#filter-review-val,
#filter-review-val2 {
    background: none;
    color: black;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

.output-result {
    /* background-color: #f0ecc9; */
    /* background-color: #ebe4d5; */
    background-color: #f1eee8;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px #bbbcbc;
}

.book-title {
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.book-author,
.book-ratings,
.book-genres,
.book-ban-info {
    text-align: center;
}

.book-desc {
    font-family: 'Montserrat', sans-serif;
}

/* Back to top button styling */
#back-to-top-btn {
    display: block;
    position: fixed;
    right: 8rem;
    bottom: 5rem;
    z-index: 99;
    cursor: pointer;
    font-size: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #6d9ce7;
    box-shadow: 0px 5px 5px #bbbcbc;
}


/* Toggle Styling */

.theme-toggle {
    border: 2px solid black;
}

.theme-toggle .toggle {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

#toggle-checkbox {
    /* hides checkbox */
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-toggle:hover {
    box-shadow: 5 5 15px black;
    /* why does this not work? */
}

.toggle-field {
    padding: 8px 16px;

    background-color: transparent;

    text-align: center;

    transition: 0.5s;
}

.on {
    border-bottom: 1px solid black;
}

#toggle-checkbox:checked~.toggle>.on {
    background-color: black;
    color: white;
}

#toggle-checkbox:not(:checked)~.toggle>.off {
    background-color: black;
    color: white;
}

/* Loader:  https://cssloaders.github.io/ */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #89CFF0;
    border-radius: 50%;
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}