<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container" id="page">
        <div id="s12"></div>
        <div class="top-text" id="se">
            <div class="google-colors">
                <h1 id="google-4">Censored Books</h1>

            </div>
            <div id="searchboxes">
                <div class="input-box" onclick="sendFocus('filter-title-val')">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Search for the title of a banned book" id="filter-title-val"
                        onkeypress="performSearch(event, 0)">
                </div>

                <div class="input-box" onclick="sendFocus('filter-book-val')">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Search for a theme or topic" id="filter-book-val"
                        onkeypress="performSearch(event, 1)">
                </div>

                <!-- <label class="toggle">
                    <input type="checkbox">
                    <span id="toggle-slider" class="slider"></span>
                </label> -->
                <!-- Toggler -->
                <div>
                    <input type="checkbox" id="toggle-checkbox">
                    <label for="toggle-checkbox" class="toggle">
                        <div class="on toggle-field">Publisher</div>
                        <div class="off toggle-field">User</div>
                    </label>
                </div>
            </div>

        </div>
        <div id="answer-box">

        </div>

        <!-- Credits to: https://www.freecodecamp.org/news/back-to-top-button-and-page-progressbar-with-html-css-and-js/, https://www.w3schools.com/jsref/prop_element_scrolltop.asp -->
        <button id="back-to-top-btn" class="hidden" onclick="goToTop()">Back To Top</button>
    </div>


    <script>
        // Constants

        // Msg constants
        const WAITING_MSG = "Loading...";
        const NO_RESULTS_MSG = "No results.";

        // Element Constants
        const ANSWER_BOX = document.getElementById('answer-box');

        const TITLE_SEARCH_BAR = document.getElementById("filter-title-val");
        const THEME_SEARCH_BAR = document.getElementById("filter-book-val");

        const THEME_SEARCH_TOGGLE = document.getElementById("toggle-checkbox");
        const BACK_TO_TOP_BUTTON = document.getElementById("back-to-top-btn");

        // Search type constants
        const TITLE_SEARCH = 0;
        const THEME_SEARCH = 1;

        // Value constants
        // number of px user has to scroll to show back to top button
        const BACK_TO_TOP_SHOW_PX = 20;

        // Event listeners

        document.addEventListener("scroll", () => {
            backToTopToggle();
        })

        // Element specific functions

        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        function goToTop() {
            document.body.scrollIntoView({
                block: "start",
                behavior: "smooth"
            })
        }

        function backToTopToggle() {
            if (document.body.scrollTop > BACK_TO_TOP_SHOW_PX || document.documentElement.scrollTop > BACK_TO_TOP_SHOW_PX) {
                BACK_TO_TOP_BUTTON.classList.remove("hidden");
            } else {
                BACK_TO_TOP_BUTTON.classList.add("hidden");
            }
        }

        // Utility functions

        function answerBoxTemplate(title, authors, ban_info, genres, ratings, summary) {

            return `<div class='output-result'>
                <h3 class='book-title'>${title}</h3>
                <p class='book-author'>By ${authors}</p>
                <p class='book-ratings'>${ratings} stars</p>
                <p class='book-genres'>${genres}</p>
                <p class='book-ban-info'>Banned in: ${ban_info}</p>
                <p class='book-summary'>${summary}</p>
            </div>`
        }

        function performSearch(event, type) {
            if (event.key === "Enter") {
                // set answer box to waiting
                ANSWER_BOX.innerHTML = WAITING_MSG;

                // set results header based on type of search
                var resultsHeadingMsg = "";
                if (type === TITLE_SEARCH) {
                    resultsHeadingMsg = "Title search results";
                }
                else {
                    resultsHeadingMsg = "Theme search results";
                }

                // construct URL for fetch
                var urlPrepend = "/titles?";
                var searchBar = TITLE_SEARCH_BAR;

                if (type === TITLE_SEARCH) {
                    urlPrepend = "/titles?";
                    searchBar = TITLE_SEARCH_BAR;
                }
                else if (type === THEME_SEARCH) {
                    searchBar = THEME_SEARCH_BAR;
                    if (THEME_SEARCH_TOGGLE.checked == true) {
                        urlPrepend = "/books?";
                    }
                    else {
                        urlPrepend = "/reviews?";
                    }
                }

                var url = urlPrepend + new URLSearchParams({ title: searchBar.value }).toString();
                console.log(searchBar.value);
                // fetch data
                fetch(url)
                    .then((response) => response.json())
                    .then((data) => data.forEach(row => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.title, row.authors, row.ban_info, row.genres, row.ratings, row.summary)
                        if (ANSWER_BOX.innerHTML === WAITING_MSG) {
                            ANSWER_BOX.innerHTML = resultsHeadingMsg;
                        }
                        ANSWER_BOX.appendChild(tempDiv)
                    }))
                    .then(() => {
                        // check for no results, scroll screen
                        if (ANSWER_BOX.innerHTML === WAITING_MSG) {
                            ANSWER_BOX.innerHTML = NO_RESULTS_MSG;
                        }
                        ANSWER_BOX.scrollIntoView({
                            block: "start",
                            behavior: "smooth"
                        });
                    });

            }
        }


    </script>
</body>