<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>

    <div class="full-body-container" id="page">
        <div id="s12"></div>
        <div class="top-text" id="se">
            <div class="google-colors">
                <h1 id="google-4">Censored Books</h1>
            </div>
            <div style="max-width: 1200px; padding: .8%; border-radius: 3px; ">
                <p style="margin: 0; color: #333; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6;">
                    From July 2021 to June 2022, over 2,500 books were banned in schools and
                    libraries across the United States.

                    Use the toggle to change how the theme search searches
                    for books. The "Publisher" setting searches through
                    blurbs for similar books, while the "User" setting
                    searches through user reviews to find similar
                    books.
                </p>
            </div>
            <!-- Loader -->
            <!-- Credits to: https://www.w3schools.com/howto/howto_css_loader.asp, https://cssloaders.github.io/ -->
            <div id="loader" class="loader hidden" style="position: absolute; top: 80%; transform: translateY(-50%);">
            </div>


        </div>
        <!-- Search Boxes (Will convert to style.css later)-->
        <div id="searchboxes" style="position: absolute; top: 41%; transform: translateY(-50%);">
            <div class="input-box" onclick="sendFocus('filter-title-val')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for the title of a banned book" id="filter-title-val"
                    onkeypress="performSearch(event, 0)">
            </div>


            <div class="input-box" onclick="sendFocus('filter-book-val')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a theme or topic" id="filter-book-val"
                    onkeypress="performSearch(event, 1)">
            </div>
        </div>


        <!-- Toggler (Will convert to style.css later) -->
        <div style="position: absolute; right: 15%; top: 55%; transform: translateY(-50%);">
            <h2 style="font-family: 'Arial', sans-serif; color: #333; text-align: left;
            padding-left: 5px; margin-bottom: 20px;">
                Based On
            </h2>
            <div class="theme-toggle ">
                <input type="checkbox" id="toggle-checkbox" onkeypress="performSearch(event, 1)">
                <label for="toggle-checkbox" class="toggle">
                    <div class="on toggle-field">Publisher</div>
                    <div class="off toggle-field">User</div>
                </label>
            </div>
        </div>


        <!-- FILTERS (Will convert to style.css later)-->
        <div style="position: absolute; left: 5%; top: 60%; transform: translateY(-50%);">
            <h2 style="font-family: 'Arial', sans-serif; color: #333; text-align: left;
                padding-left: 5px; margin-bottom: 20px; margin-left: 15%;">
                Optional Filters
            </h2>
            <div class="input-box" onclick="sendFocus('state-input')" style="background: transparent; border: none;">
                <input placeholder="Filter by State" id="state-input" name="state" list="states" style="background-color: transparent; outline: none;
                     border: 1px solid black; border-radius: 25px;
                     padding: 8px 20px; color: black;
                     font-size: 16px; width: 250px;" onkeypress="performSearch(event, 1)">
            </div>
            <div class="input-box" onclick="sendFocus('genre-input')" style="background: transparent; border: none;">
                <input placeholder="Filter by Genre" id="genre-input" name="genre" list="genres" style="background-color: transparent; outline: none;
                     border: 1px solid black; border-radius: 25px;
                     padding: 8px 20px; color: black;
                     font-size: 16px; width: 250px;" onkeypress="performSearch(event, 1)">
            </div>
        </div>
        <datalist id="states">
            <option value="Alabama"></option>
            <option value="Alaska"></option>
            <option value="Arizona"></option>
            <option value="Arkansas"></option>
            <option value="California"></option>
            <option value="Colorado"></option>
            <option value="Connecticut"></option>
            <option value="Delaware"></option>
            <option value="Florida"></option>
            <option value="Georgia"></option>
            <option value="Hawaii"></option>
            <option value="Idaho"></option>
            <option value="Illinois"></option>
            <option value="Indiana"></option>
            <option value="Iowa"></option>
            <option value="Kansas"></option>
            <option value="Kentucky"></option>
            <option value="Louisiana"></option>
            <option value="Maine"></option>
            <option value="Maryland"></option>
            <option value="Massachusetts"></option>
            <option value="Michigan"></option>
            <option value="Minnesota"></option>
            <option value="Mississippi"></option>
            <option value="Missouri"></option>
            <option value="Montana"></option>
            <option value="Nebraska"></option>
            <option value="Nevada"></option>
            <option value="New Hampshire"></option>
            <option value="New Jersey"></option>
            <option value="New Mexico"></option>
            <option value="New York"></option>
            <option value="North Carolina"></option>
            <option value="North Dakota"></option>
            <option value="Ohio"></option>
            <option value="Oklahoma"></option>
            <option value="Oregon"></option>
            <option value="Pennsylvania"></option>
            <option value="Rhode Island"></option>
            <option value="South Carolina"></option>
            <option value="South Dakota"></option>
            <option value="Tennessee"></option>
            <option value="Texas"></option>
            <option value="Utah"></option>
            <option value="Vermont"></option>
            <option value="Virginia"></option>
            <option value="Washington"></option>
            <option value="West Virginia"></option>
            <option value="Wisconsin"></option>
            <option value="Wyoming"></option>
        </datalist>
        <datalist id="genres">
            <option value="Witches">Witches</option>
            <option value="Asia">Asia</option>
            <option value="Parenting">Parenting</option>
            <option value="Comedy">Comedy</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Middle Grade">Middle Grade</option>
            <option value="Vampires">Vampires</option>
            <option value="Baseball">Baseball</option>
            <option value="Astronomy">Astronomy</option>
            <option value="Sociology">Sociology</option>
            <option value="Cultural">Cultural</option>
            <option value="Lesbian">Lesbian</option>
            <option value="Pirates">Pirates</option>
            <option value="Book Club">Book Club</option>
            <option value="Essays">Essays</option>
            <option value="Plays">Plays</option>
            <option value="New Adult">New Adult</option>
            <option value="Thriller">Thriller</option>
            <option value="Spanish Literature">Spanish Literature</option>
            <option value="Egypt">Egypt</option>
            <option value="Mermaids">Mermaids</option>
            <option value="Leadership">Leadership</option>
            <option value="Contemporary">Contemporary</option>
            <option value="Dogs">Dogs</option>
            <option value="Animal Fiction">Animal Fiction</option>
            <option value="Asian Literature">Asian Literature</option>
            <option value="Chick Lit">Chick Lit</option>
            <option value="Christianity">Christianity</option>
            <option value="Drama">Drama</option>
            <option value="Romance">Romance</option>
            <option value="Anti Racist">Anti Racist</option>
            <option value="Family">Family</option>
            <option value="Race">Race</option>
            <option value="Fairy Tales">Fairy Tales</option>
            <option value="Christmas">Christmas</option>
            <option value="Disability">Disability</option>
            <option value="Urban">Urban</option>
            <option value="Legal Thriller">Legal Thriller</option>
            <option value="Prostitution">Prostitution</option>
            <option value="Music">Music</option>
            <option value="19th Century">19th Century</option>
            <option value="Islam">Islam</option>
            <option value="Mythology">Mythology</option>
            <option value="Gothic">Gothic</option>
            <option value="Africa">Africa</option>
            <option value="Ghosts">Ghosts</option>
            <option value="True Crime">True Crime</option>
            <option value="Biography Memoir">Biography Memoir</option>
            <option value="Social Issues">Social Issues</option>
            <option value="Classics">Classics</option>
            <option value="Law">Law</option>
            <option value="Fantasy Romance">Fantasy Romance</option>
            <option value="Regency">Regency</option>
            <option value="Banned Books">Banned Books</option>
            <option value="Humor">Humor</option>
            <option value="Historical Fiction">Historical Fiction</option>
            <option value="Seinen">Seinen</option>
            <option value="Contemporary Romance">Contemporary Romance</option>
            <option value="Transgender">Transgender</option>
            <option value="Food">Food</option>
            <option value="Coding">Coding</option>
            <option value="Autobiography">Autobiography</option>
            <option value="Mystery">Mystery</option>
            <option value="Dark">Dark</option>
            <option value="Sports">Sports</option>
            <option value="Fostering">Fostering</option>
            <option value="Psychology">Psychology</option>
            <option value="Technology">Technology</option>
            <option value="Picture Books">Picture Books</option>
            <option value="Education">Education</option>
            <option value="Jazz">Jazz</option>
            <option value="Dystopia">Dystopia</option>
            <option value="Spirituality">Spirituality</option>
            <option value="Horror">Horror</option>
            <option value="World War II">World War II</option>
            <option value="Memoir">Memoir</option>
            <option value="Philosophy">Philosophy</option>
            <option value="Cooking">Cooking</option>
            <option value="Relationships">Relationships</option>
            <option value="American History">American History</option>
            <option value="Young Adult Fantasy">Young Adult Fantasy</option>
            <option value="Graphic Novels">Graphic Novels</option>
            <option value="Muslims">Muslims</option>
            <option value="Plants">Plants</option>
            <option value="Zombies">Zombies</option>
            <option value="Language">Language</option>
            <option value="Realistic Fiction">Realistic Fiction</option>
            <option value="Historical">Historical</option>
            <option value="Russian Literature">Russian Literature</option>
            <option value="Multicultural Literature">Multicultural Literature</option>
            <option value="Sexuality">Sexuality</option>
            <option value="Academic">Academic</option>
            <option value="Basketball">Basketball</option>
            <option value="Indian Literature">Indian Literature</option>
            <option value="Death">Death</option>
            <option value="Poverty">Poverty</option>
            <option value="Crime">Crime</option>
            <option value="Geography">Geography</option>
            <option value="Nonfiction">Nonfiction</option>
            <option value="BDSM">BDSM</option>
            <option value="Money">Money</option>
            <option value="Growth Mindset">Growth Mindset</option>
            <option value="Space Opera">Space Opera</option>
            <option value="Art">Art</option>
            <option value="Brazil">Brazil</option>
            <option value="Young Adult Romance">Young Adult Romance</option>
            <option value="Folk Tales">Folk Tales</option>
            <option value="India">India</option>
            <option value="Mathematics">Mathematics</option>
            <option value="School">School</option>
            <option value="High Fantasy">High Fantasy</option>
            <option value="Halloween">Halloween</option>
            <option value="Intersex">Intersex</option>
            <option value="History">History</option>
            <option value="Eugenics">Eugenics</option>
            <option value="Reference">Reference</option>
            <option value="Adventure">Adventure</option>
            <option value="Poetry">Poetry</option>
            <option value="Animals">Animals</option>
            <option value="Literature">Literature</option>
            <option value="Survival">Survival</option>
            <option value="African Literature">African Literature</option>
            <option value="Christian Fiction">Christian Fiction</option>
            <option value="Back To School">Back To School</option>
            <option value="International">International</option>
            <option value="Abuse">Abuse</option>
            <option value="Cats">Cats</option>
            <option value="Travel">Travel</option>
            <option value="Mental Illness">Mental Illness</option>
            <option value="1st Grade">1st Grade</option>
            <option value="Urban Fantasy">Urban Fantasy</option>
            <option value="Feminism">Feminism</option>
            <option value="Mystery Thriller">Mystery Thriller</option>
            <option value="Russia">Russia</option>
            <option value="Fiction">Fiction</option>
            <option value="Gay">Gay</option>
            <option value="2nd Grade">2nd Grade</option>
            <option value="Holiday">Holiday</option>
            <option value="Audiobook">Audiobook</option>
            <option value="Gender Identity">Gender Identity</option>
            <option value="Emotion">Emotion</option>
            <option value="Monsters">Monsters</option>
            <option value="Gender and Sexuality">Gender and Sexuality</option>
            <option value="Canada">Canada</option>
            <option value="Irish Literature">Irish Literature</option>
            <option value="Kids">Kids</option>
            <option value="Self Help">Self Help</option>
            <option value="Autistic Spectrum Disorder">Autistic Spectrum Disorder</option>
            <option value="Young Adult Historical Fiction">Young Adult Historical Fiction</option>
            <option value="Time Travel">Time Travel</option>
            <option value="School Stories">School Stories</option>
            <option value="Chapter Books">Chapter Books</option>
            <option value="Greek Mythology">Greek Mythology</option>
            <option value="Short Stories">Short Stories</option>
            <option value="Nature">Nature</option>
            <option value="Gardening">Gardening</option>
            <option value="Social Work">Social Work</option>
            <option value="Magical Realism">Magical Realism</option>
            <option value="Retellings">Retellings</option>
            <option value="Young Adult">Young Adult</option>
            <option value="Soccer">Soccer</option>
            <option value="College">College</option>
            <option value="Christian">Christian</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Dragons">Dragons</option>
            <option value="Holocaust">Holocaust</option>
            <option value="American">American</option>
            <option value="Teaching">Teaching</option>
            <option value="Sports Romance">Sports Romance</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Italy">Italy</option>
            <option value="Politics">Politics</option>
            <option value="Civil War">Civil War</option>
            <option value="Bisexual">Bisexual</option>
            <option value="The United States Of America">The United States Of America</option>
            <option value="Photography">Photography</option>
            <option value="Africa">Africa</option>
            <option value="Japan">Japan</option>
            <option value="Storytime">Storytime</option>
            <option value="Manga">Manga</option>
            <option value="Sudan">Sudan</option>
            <option value="Writing">Writing</option>
            <option value="Coming Of Age">Coming Of Age</option>
            <option value="LGBT">LGBT</option>
            <option value="Paranormal Romance">Paranormal Romance</option>
            <option value="Read For School">Read For School</option>
            <option value="Comic Book">Comic Book</option>
            <option value="Social Justice">Social Justice</option>
            <option value="Space">Space</option>
            <option value="Books About Books">Books About Books</option>
            <option value="Cults">Cults</option>
            <option value="Teen">Teen</option>
            <option value="Slice Of Life">Slice Of Life</option>
            <option value="Health">Health</option>
            <option value="Asexual">Asexual</option>
            <option value="Action">Action</option>
            <option value="Love">Love</option>
            <option value="Novels">Novels</option>
            <option value="Native Americans">Native Americans</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Religion">Religion</option>
            <option value="Folklore">Folklore</option>
            <option value="Paranormal">Paranormal</option>
            <option value="Fashion">Fashion</option>
            <option value="Historical Romance">Historical Romance</option>
            <option value="Buddhism">Buddhism</option>
            <option value="Fae">Fae</option>
            <option value="Animals">Animals</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Transport">Transport</option>
            <option value="Adoption">Adoption</option>
            <option value="Research">Research</option>
            <option value="Science">Science</option>
            <option value="Superheroes">Superheroes</option>
            <option value="Realistic Fiction">Realistic Fiction</option>
            <option value="Literary Fiction">Literary Fiction</option>
            <option value="Judaism">Judaism</option>
            <option value="M M Romance">M M Romance</option>
            <option value="Gender">Gender</option>
            <option value="Adult Fiction">Adult Fiction</option>
            <option value="Polyamory">Polyamory</option>
            <option value="Social Justice">Social Justice</option>
            <option value="Supernatural">Supernatural</option>
            <option value="Ireland">Ireland</option>
            <option value="Dc Comics">Dc Comics</option>
            <option value="Theory">Theory</option>
            <option value="Juvenile">Juvenile</option>
            <option value="Magic">Magic</option>
            <option value="Philosophy">Philosophy</option>
            <option value="History">History</option>
            <option value="Journaling">Journaling</option>
            <option value="Comics">Comics</option>
            <option value="Adhd">Adhd</option>
            <option value="Childrens">Childrens</option>
            <option value="Queer">Queer</option>
            <option value="Fandom">Fandom</option>
            <option value="Anthologies">Anthologies</option>
            <option value="Politics">Politics</option>
            <option value="Activism">Activism</option>
            <option value="Pakistan">Pakistan</option>
            <option value="China">China</option>
            <option value="Jewish">Jewish</option>
            <option value="Road Trip">Road Trip</option>
            <option value="Journal">Journal</option>
            <option value="Suspense">Suspense</option>
            <option value="Womens">Womens</option>
            <option value="Chapter Books">Chapter Books</option>
            <option value="Nonfiction">Nonfiction</option>
            <option value="Writing">Writing</option>
            <option value="Race">Race</option>
            <option value="Memoir">Memoir</option>
            <option value="Horses">Horses</option>
            <option value="Feminism">Feminism</option>
            <option value="Spanish Literature">Spanish Literature</option>
            <option value="Adult">Adult</option>
            <option value="Childrens">Childrens</option>
            <option value="Geometry">Geometry</option>
            <option value="African American">African American</option>
            <option value="Anthropology">Anthropology</option>
            <option value="Westerns">Westerns</option>
            <option value="Werewolves">Werewolves</option>
            <option value="Biography">Biography</option>
            <option value="Young Adult">Young Adult</option>
            <option value="Novella">Novella</option>
            <option value="Young Adult Contemporary">Young Adult Contemporary</option>
            <option value="High School">High School</option>
            <option value="Birds">Birds</option>
            <option value="Steampunk">Steampunk</option>
            <option value="War">War</option>
            <option value="Iran">Iran</option>
            <option value="Classics">Classics</option>
            <option value="Erotica">Erotica</option>
            <option value="Inspirational">Inspirational</option>
            <option value="Education">Education</option>
            <option value="Environment">Environment</option>
            <option value="Thriller">Thriller</option>
            <option value="Spain">Spain</option>
        </datalist>

        <div id="answer-box">
        </div>
        <!-- Credits to: https://www.freecodecamp.org/news/back-to-top-button-and-page-progressbar-with-html-css-and-js/, https://www.w3schools.com/jsref/prop_element_scrolltop.asp -->
        <button id="back-to-top-btn" class="hidden" onclick="goToTop()">^</button>
    </div>



    <script>
        // Constants

        // Msg constants
        const WAITING_MSG = "Loading...";
        const NO_RESULTS_MSG = "No results ";

        // Element Constants
        const ANSWER_BOX = document.getElementById('answer-box');

        const TITLE_SEARCH_BAR = document.getElementById("filter-title-val");
        const THEME_SEARCH_BAR = document.getElementById("filter-book-val");

        const THEME_SEARCH_TOGGLE = document.getElementById("toggle-checkbox");
        const BACK_TO_TOP_BUTTON = document.getElementById("back-to-top-btn");
        const LOADER = document.getElementById("loader");
        const STATE_BUTTON = document.getElementById("state-input");
        const GENRE_BUTTON = document.getElementById("genre-input");

        // Search type constants
        const TITLE_SEARCH = 0;
        const THEME_SEARCH = 1;

        // Value constants
        // number of px user has to scroll to show back to top button
        const BACK_TO_TOP_SHOW_PX = 20;

        // Event listeners

        document.addEventListener("scroll", () => {
            backToTopToggle();
        })

        // Element specific functions

        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        function goToTop() {
            document.body.scrollIntoView({
                block: "start",
                behavior: "smooth"
            })
        }

        function toggleVisibility(elem) {
            if (elem.classList.contains("hidden")) {
                elem.classList.remove("hidden");
            }
            else {
                elem.classList.add("hidden");
            }
        }

        function backToTopToggle() {
            if (document.body.scrollTop > BACK_TO_TOP_SHOW_PX || document.documentElement.scrollTop > BACK_TO_TOP_SHOW_PX) {
                BACK_TO_TOP_BUTTON.classList.remove("hidden");
            } else {
                BACK_TO_TOP_BUTTON.classList.add("hidden");
            }
        }

        function restoreDefaults() {
            TITLE_SEARCH_BAR.value = "";
            THEME_SEARCH_BAR.value = "";
            THEME_SEARCH_TOGGLE.checked = true;
        }

        // Utility functions

        function answerBoxTemplate(title, authors, ban_info, genres, ratings, summary, query) {

            function highlightMatches(text, query) {
                const regex = new RegExp(query, 'gi');
                return text.replace(regex, '<span class="highlight">$&</span>');
            }

            const highlightedTitle = highlightMatches(title, query);
            const highlightedSummary = highlightMatches(summary, query);

            return `<div class='output-result'>
            <h3 class='book-title'>${highlightedTitle}</h3>
            <p class='book-author'>By ${authors}</p>
            <p class='book-ratings'>${ratings} stars</p>
            <p class='book-genres'>${genres}</p>
            <p class='book-ban-info'>Banned in: ${ban_info}</p>
            <p class='book-summary'>${highlightedSummary}</p>
        </div>`
        }

        function conditionalSearch(event) {
            var isPublisher = document.getElementById('toggle-checkbox').checked;
            performSearch(event, isPublisher ? 1 : 0);
        }

        function performSearch(event, type) {
            if (event.key === "Enter") {
                // Capture the query from the search input box
                const query = type === TITLE_SEARCH ? TITLE_SEARCH_BAR.value : THEME_SEARCH_BAR.value;

                // Split the query into individual words
                const queryWords = query.trim().split(/\s+/);

                // set answer box to waiting
                ANSWER_BOX.innerHTML = WAITING_MSG;

                // set results header based on type of search
                var resultsHeadingMsg = "";
                if (type === TITLE_SEARCH) {
                    resultsHeadingMsg = "Title search results";
                }
                else {
                    resultsHeadingMsg = "Theme search results";
                }

                // construct URL for fetch
                var urlPrepend = "/titles?";
                var searchBar = TITLE_SEARCH_BAR;

                if (type === TITLE_SEARCH) {
                    urlPrepend = "/titles?";
                    searchBar = TITLE_SEARCH_BAR;
                }
                else if (type === THEME_SEARCH) {
                    searchBar = THEME_SEARCH_BAR;
                    if (THEME_SEARCH_TOGGLE.checked == true) {
                        urlPrepend = "/books?";
                    }
                    else {
                        urlPrepend = "/reviews?";
                    }
                }

                var url = urlPrepend + new URLSearchParams({ title: searchBar.value, genre: GENRE_BUTTON.value, state: STATE_BUTTON.value }).toString();
                console.log(searchBar.value);
                console.log(GENRE_BUTTON.value);
                toggleVisibility(LOADER);
                // fetch data
                fetch(url)
                    .then((response) => response.json())
                    .then((data) => data.forEach(row => {
                        let tempDiv = document.createElement("div");
                        tempDiv.innerHTML = answerBoxTemplate(row.title, row.authors, row.ban_info, row.genres, row.ratings, row.summary, queryWords); // Pass the queryWords to the answerBoxTemplate function
                        if (ANSWER_BOX.innerHTML === WAITING_MSG) {
                            ANSWER_BOX.innerHTML = resultsHeadingMsg;
                        }
                        ANSWER_BOX.appendChild(tempDiv);
                    }))
                    .then(() => {
                        // check for no results, scroll screen
                        if (ANSWER_BOX.innerHTML === WAITING_MSG) {
                            ANSWER_BOX.innerHTML = NO_RESULTS_MSG;
                        }
                        ANSWER_BOX.scrollIntoView({
                            block: "start",
                            behavior: "smooth"
                        });
                        toggleVisibility(LOADER);
                    });
            }
        }

        function answerBoxTemplate(title, authors, ban_info, genres, ratings, summary, queryWords) {
            // Function to highlight matching words in a string
            // function highlightMatches(str, words) {
            //     return str.replace(new RegExp(words.join("|"), "gi"), match => `<span class="highlight">${match}</span>`);
            // }
            function highlightMatches(str, words) {
                const regex = new RegExp('\\b(' + words.join('|') + ')\\b', 'gi');
                return str.replace(regex, match => `<span class="highlight">${match}</span>`);
            }


            // Highlight each word in the title and summary separately
            const highlightedTitle = highlightMatches(title, queryWords);
            const highlightedSummary = highlightMatches(summary, queryWords);

            return `<div class='output-result'>
            <h3 class='book-title'>${highlightedTitle}</h3>
            <p class='book-author'>By ${authors}</p>
            <p class='book-ratings'>${ratings} stars</p>
            <p class='book-genres'>${genres}</p>
            <p class='book-ban-info'>Banned in: ${ban_info}</p>
            <p class='book-summary'>${highlightedSummary}</p>
        </div>`;
        }

        // function performSearch(event, type) {
        //     if (event.key === "Enter") {
        //         // Capture the query from the search input box
        //         const query = type === TITLE_SEARCH ? TITLE_SEARCH_BAR.value : THEME_SEARCH_BAR.value;

        //         // set answer box to waiting
        //         ANSWER_BOX.innerHTML = WAITING_MSG;

        //         // set results header based on type of search
        //         var resultsHeadingMsg = "";
        //         if (type === TITLE_SEARCH) {
        //             resultsHeadingMsg = "Title search results";
        //         }
        //         else {
        //             resultsHeadingMsg = "Theme search results";
        //         }

        //         // construct URL for fetch
        //         var urlPrepend = "/titles?";
        //         var searchBar = TITLE_SEARCH_BAR;

        //         if (type === TITLE_SEARCH) {
        //             urlPrepend = "/titles?";
        //             searchBar = TITLE_SEARCH_BAR;
        //         }
        //         else if (type === THEME_SEARCH) {
        //             searchBar = THEME_SEARCH_BAR;
        //             if (THEME_SEARCH_TOGGLE.checked == true) {
        //                 urlPrepend = "/books?";
        //             }
        //             else {
        //                 urlPrepend = "/reviews?";
        //             }
        //         }

        //         var url = urlPrepend + new URLSearchParams({ title: searchBar.value, genre: GENRE_BUTTON.value, state: STATE_BUTTON.value }).toString();
        //         console.log(searchBar.value);
        //         console.log(GENRE_BUTTON.value);
        //         toggleVisibility(LOADER);
        //         // fetch data
        //         fetch(url)
        //             .then((response) => response.json())
        //             .then((data) => data.forEach(row => {
        //                 let tempDiv = document.createElement("div")
        //                 tempDiv.innerHTML = answerBoxTemplate(row.title, row.authors, row.ban_info, row.genres, row.ratings, row.summary, query) // Pass the query to the answerBoxTemplate function
        //                 if (ANSWER_BOX.innerHTML === WAITING_MSG) {
        //                     ANSWER_BOX.innerHTML = resultsHeadingMsg;
        //                 }
        //                 ANSWER_BOX.appendChild(tempDiv)
        //             }))
        //             .then(() => {
        //                 // check for no results, scroll screen
        //                 if (ANSWER_BOX.innerHTML === WAITING_MSG) {
        //                     ANSWER_BOX.innerHTML = NO_RESULTS_MSG;
        //                 }
        //                 ANSWER_BOX.scrollIntoView({
        //                     block: "start",
        //                     behavior: "smooth"
        //                 });
        //                 toggleVisibility(LOADER);
        //             });
        //     }
        // }

        // function performSearch(event, type) {
        //     if (event.key === "Enter") {
        //         // set answer box to waiting
        //         ANSWER_BOX.innerHTML = WAITING_MSG;

        //         // set results header based on type of search
        //         var resultsHeadingMsg = "";
        //         if (type === TITLE_SEARCH) {
        //             resultsHeadingMsg = "Title search results";
        //         }
        //         else {
        //             resultsHeadingMsg = "Theme search results";
        //         }

        //         // construct URL for fetch
        //         var urlPrepend = "/titles?";
        //         var searchBar = TITLE_SEARCH_BAR;

        //         if (type === TITLE_SEARCH) {
        //             urlPrepend = "/titles?";
        //             searchBar = TITLE_SEARCH_BAR;
        //         }
        //         else if (type === THEME_SEARCH) {
        //             searchBar = THEME_SEARCH_BAR;
        //             if (THEME_SEARCH_TOGGLE.checked == true) {
        //                 urlPrepend = "/books?";
        //             }
        //             else {
        //                 urlPrepend = "/reviews?";
        //             }
        //         }


        //         var url = urlPrepend + new URLSearchParams({ title: searchBar.value, genre: GENRE_BUTTON.value, state: STATE_BUTTON.value }).toString();
        //         console.log(searchBar.value);
        //         console.log(GENRE_BUTTON.value);
        //         toggleVisibility(LOADER);
        //         // fetch data
        //         fetch(url)
        //             .then((response) => response.json())
        //             .then((data) => data.forEach(row => {
        //                 let tempDiv = document.createElement("div")
        //                 tempDiv.innerHTML = answerBoxTemplate(row.title, row.authors, row.ban_info, row.genres, row.ratings, row.summary)
        //                 if (ANSWER_BOX.innerHTML === WAITING_MSG) {
        //                     ANSWER_BOX.innerHTML = resultsHeadingMsg + (". Showing " + data.length + " results " + (STATE_BUTTON.value ? " for  " + (STATE_BUTTON.value) : ""));
        //                 }
        //                 ANSWER_BOX.appendChild(tempDiv)
        //             }))
        //             .then(() => {
        //                 // check for no results, scroll screen
        //                 if (ANSWER_BOX.innerHTML === WAITING_MSG) {
        //                     ANSWER_BOX.innerHTML = NO_RESULTS_MSG + (STATE_BUTTON.value ? "for " + (STATE_BUTTON.value) : "");
        //                 }
        //                 ANSWER_BOX.scrollIntoView({
        //                     block: "start",
        //                     behavior: "smooth"
        //                 });
        //                 toggleVisibility(LOADER);
        //             });
        //     }
        // }


    </script>
</body>